/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.business-plan.container,
.find-partner.container,
.dropbox-business.container,
.find-more.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 30px 0px;
    margin-top: 100px;
}

.row {
    display: flex;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-35 {
    gap: 35px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

h1 {
   font-size: 70px;
   text-align: left;
   font-weight: 900;
}

.col.hero-left {
    font-size: 16px;
}

.business-plan.container h2,
.dropbox-business.container h2,
.find-more.container h2 
 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.plan-desc h3 {
    font-size: 24px;
    font-weight: bold;
}

.plan-desc > span {
    font-size: 14px;
}

.plan-desc .price {
    font-weight: bold;
}

.plan-desc .opacity {
    opacity: 0.5;
}

.footer-top.container {
    color: #fff;
}

.footer-top.container h3 {
    font-size: 24px;
}
/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 14px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 24px;
    font-size: 16px;
}

.btn-primary {
    background-color: #0061FE;
    color: #fff;
}

.btn-partner {
    background-color: transparent;
    font-family: inherit;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 16px;
}

/*----------------
    HEADER
------------------*/

header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-left, .nav-right {
    display: flex;
    gap: 30px;
}

header ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 40px;
}

/*----------------
    MAIN
------------------*/

.hero-section {
    background-color: #B4D0E6;
    position: relative;
}

.hero.container {
    position: relative;
    bottom: -80px;
}

/* CONTROLLARE PERCHE' FORMATTANDO LA PAGINA VA SOTTO IL BG LA COL.HERO-LEFT */

.col.hero-left {
    width: 70%;
    padding-left: 10px;
}

.hero.container .row {
    margin-top: 50px;
}

.col.hero-left button {
    margin: 30px 0;
}

/* POSIZIONARE BENE IN MODO ASSOLUTO RISPETTO A COL HERO LEFT */

/* .col.hero-left i {
    font-size: 54px;
    color: #000;
    position: absolute;
    bottom: 100px;
} */

.hero.container i {
    font-size: 54px;
    color: #000;
    position: absolute;
    bottom: 100px;
}

/* INIZIO SECONDA SEZIONE */

.business-plan.container {
    margin-top: 100px;
}

.plan-choise {
    margin: 30px 0px;
}

.plan-choise [for="monthly"] {
    margin-right: 20px;
}

/* INSERIRE QUI PROP/VAL PER CAMBIARE IL RADIO BUTTON */

.business-plan.container .row {
    /* background-color: #555; */
    margin: 30px 0 50px 0;
}

.business-plan.container .row .col{
    border: 1px solid grey;
    width: 100%;
}

.col .plan-icon {
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
    line-height: 2.5;
    text-align: center;
}

.col .plan-desc {
    padding: 15px 30px;
    line-height: 2;
}

.plan-desc ul {
    line-height: 1.5;
    margin: 25px 0px;
    list-style: none;
}

.plan-desc ul li/*::before*/ {
    margin: 15px 0px;
    /* FontAwesome Unicode */
    /* content: "\f00c"; 
    font-family: "Font Awesome 6 Free"; */

}


.plan-desc button {
    text-align: center;
    width: 100%;
    padding: 12px 25px;
    font-size: 16px;
    margin: 15px 0px;
}

.plan-desc hr {
    width: 20%;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 30px 0px;
}

.fa-solid.fa-check {
    color: #0061FE;
    font-weight: 900;
    
}

/* ULTIMA ROW BUSINESS PLAN */

.row.large-container {
    padding: 0 30px;
}

.plan-description h3 {
    font-size: 24px;
    font-weight: bold;
}

.plan-description {
    width: 70%;
    line-height: 1.5;
}

.plan-description span.price {
    font-weight: bold;
}

.plan-description .opacity {
    display: block;
    margin-top: 30px;
    line-height: 1;
}

.col-btn {
    flex-grow: 1;
    position: relative;
}

.col-btn button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 30px;
    font-size: 14px;
}

/* INIZIO SEZIONE FIND A PARTNER */

.find-partner .col.big {
    width: 60%;
}

.find-partner .col.small {
    width: 40%;
    padding: 40px;
}

.col.small h2 {
    margin: 20px 0;
}

.col.small button {
    margin: 25px 0;
}

/* INIZIO SEZIONE DROPBOX BUSINESS */

.dropbox-business.container .row {
    margin-bottom: 40px;
}

.dropbox-business.container .col h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* INIZIO SEZIONE FIND MORE */

.find-more.container {
    margin-bottom: 140px;
}

/*----------------
    FOOTER
------------------*/

footer {
    background-color: #000;
}

.footer-top.container {
    padding: 100px 0px;
}

.footer-top.container .row {
    justify-content: center;
}

.footer-top.container h3 {
    margin-bottom: 20px;
}
.footer-top.container ul li {
    line-height: 2.5;
}

footer hr {
    width: 10%;
    margin-top: 100px;
}

.footer-bottom.container select {
    border-color: black;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}

.footer-bottom.container {
    padding-top: 50px;

}